@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><a href="~/PenColors/Index">Pen Colors</a></p>
    <p><a href="~/PenTypes/Index">Pen Types</a></p>
    <p><a href="~/Shop/Index">Shops</a></p>
    <p><a href="~/Pen/Index">Pens</a></p>
    <p><a href="~/PenShopRel/Index">PenShopRelations</a></p>
    <p><a href="~/Home/ShopMap">Google map of shops</a></p>
</div>
